pre {
	background-color: transparent;
	border: none;
	padding: 0;
}
.uk-light {
  pre {
		color: rgba(255, 255, 255, 0.7);
	}
}

// Button
.uk-button {
	// text-transform: none;
}

// Nav
.uk-nav-header {
  text-transform: none;
}

// Navbar
.uk-light {
	.uk-navbar-nav > li > a, .uk-logo {
		color: #ddd;
		&:hover {
			color: #fff;
		}
	}
}
.uk-dark {
	.uk-navbar-nav > li > a, .uk-logo {
		color: #333;
		&:hover {
			color: #000;
		}
	}
}

// Tabs
.uk-tab > * > a {
	text-transform: none;
}

// Offcanvas
.uk-light {
	.uk-offcanvas-bar {
		background: $dark-bg-color;
		color: #fff;
		.uk-nav-default > li > a, .uk-nav-default .uk-nav-sub a, .uk-nav-default .uk-nav-header, h3, .uk-close {
			color: #fff;
		}
	}
}

.uk-dark {
	.uk-offcanvas-bar {
		background: $light-bg-color;
		color: #000;
		.uk-nav-default > li > a, .uk-nav-header, h3, .uk-close {
			color: #000;
		}
		.uk-nav-default .uk-nav-sub a, .uk-nav-default {
			color: #999;
		}
	}
}

// Modals
.uk-close {
	background: transparent;
}
.uk-light {
	.uk-modal-dialog, .uk-modal-header, .uk-modal-body, .uk-modal-footer {
		background: $dark-bg-color;
	}
}

// Alerts
.uk-light {
	.uk-alert, .uk-alert-primary, .uk-alert-success, .uk-alert-warning, .uk-alert-danger {
		background: #222;
		border: 1px solid #aaa;
	}
}

// Tables
.uk-table th {
  text-transform: none;
}
